body {
    font-family: 'Montserrat', sans-serif;
}

.first-height {
    height: 900px;
}

.third-height {
    height: 1080px;
    margin-left: 100px;
}

.first-height .container,
.third-height .cont1 {
    margin-top: 150px;
}

.container-fluid {
    max-width: 1920px;
}

.something-btn {
    border: none;
    padding: 12px 30px;
    background: #fac432;
    color: #FFF;
    font-weight: 600;
    font-size: 21px;
}

.row {
    margin: 0;
    padding: 0;
}

.mission-statement {
    margin-top: 80px;
}

.overview .h1 {
    font-size: 50px;
    font-weight: 600;
}

h3 {
    font-size: 35px;
}

.overview .h4 {
    font-weight: 600;
    font-size: 30px;
}

.second {
    min-height: 600px;
    padding-bottom: 100px;
    background: #e6e6e6;
}

.fourth {
    max-height: 650px;
    padding-bottom: 100px;
    background: #e6e6e6;
}

.second>.row,
.fourth>.row {
    padding-top: 50px;
    max-width: 1800;
}

p {
    line-height: 1.5 !important;
    font-size: 21px;
}

.first-banner {
    background-image: url('images/Extracted_HeroImage3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.first-banner-replace {
    background-image: url('images/main_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.second-banner {
    background-image: url('images/Extracted_FeatureImage2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.second-banner-replace {
    background-image: url('images/main_image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.stand-list {
    margin-top: 12px;
}

.icons {
    width: 60px;
}

.companies {
    margin-top: 300px;
}

.comp-logo {
    width: 100%;
    height: 100%;
}

.solution-image {
    margin-top: -705px;
    margin-left: -55px;
    width: 650px;
    height: 650px;
    z-index: 2;
}

.solution-image-shadow {
    margin-top: 100px;
    margin-left: -40px;
    height: 650px;
    width: 650px;
    z-index: 1;
    background: #e6e6e6;
    mix-blend-mode: multiply;
}

.overview .h5 {
    font-size: 20px;
    font-weight: 600;
}

.company-cont {
    margin-left: 20px;
    margin-top: 50px;
}

.after-company {
    margin-top: 100px;
}

.box {
    padding: 0;
    box-shadow: 0 0 10px 4px #ccc;
    min-height: auto;
}

.box:hover {
    box-shadow: 0 0 10px 9px #ccc;
    cursor: pointer;
}

.work-image {
    background-color: #e6e6e6;
    -webkit-mask-image: url('images/Extracted_Work.svg');
    mask-image: url('images/Extracted_Work.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: right;
    mask-position: right;
}

.sustain-image {
    background-color: #e6e6e6;
    -webkit-mask-image: url('images/Extracted_Sustain.svg');
    mask-image: url('images/Extracted_Sustain.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: right;
    mask-position: right;
}

.box:hover .work-image,
.box:hover .sustain-image {
    background-color: #fac432;
}

.arrow-image {
    height: 20px;
    background-color: #000;
    -webkit-mask-image: url('images/ExtractedIcons_OverviewArrow.svg');
    mask-image: url('images/ExtractedIcons_OverviewArrow.svg');
    width: 32px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.box:hover .arrow-image {
    background-color: #fac432;
}

.box-content {
    margin-left: 15px;
    margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1919px) {
    .first-height {
        height: 90vh;
    }

    .first-height .container {
        height: 900px;
        margin-top: 12vh;
    }

    .overview .h1 {
        font-size: 38px;
    }

    .overview .h3 {
        font-size: 25px;
    }

    .overview .h4 {
        font-size: 22px;
    }

    .mission-statement {
        margin-top: 50px;
    }

    p {
        font-size: 17px;
    }

    .something-btn {
        padding: 8px 15px;
        font-size: 17px;
    }

    .second {
        min-height: 60vh;
        padding-bottom: 100px;
        background: #e6e6e6;
    }

    .third-height {
        height: 100vh;
    }

    .third-height .cont1 {
        margin-top: 8vh;
    }

    .third-height .cont2 {
        margin-top: 2.5vh !important;
    }

    .icons {
        width: 45px;
        padding-top: 3px;
    }

    #icon {
        padding-top: 8px;
    }

    .fourth {
        max-height: 75vh;
    }

    .companies {
        margin-top: 220px;
    }

    .fourth>.row {
        padding-top: 5vh;
    }

    .solution-image {
        margin-top: -470px;
        margin-left: -55px;
        width: 65vh;
        height: 65vh;
    }

    .solution-image-shadow {
        margin-top: 100px;
        margin-left: -40px;
        height: 65vh;
        width: 65vh;
    }
}

@media screen and (max-width: 768px) {
    .solution-image {
        max-width: 300px;
        max-height: 300px;
        margin-top: -305px;
        margin-left: 20%;
    }

    .solution-image-shadow {
        max-width: 300px;
        max-height: 300px;
        margin-top: 350px;
        margin-left: 20%;
    }
}

@media screen and (max-width: 600px) {
    .first-banner {
        height: 35vh;
        background-position: center;
    }

    .first-height {
        max-height: 480px;
    }

    .first-height .container {
        margin-top: 1vh;
    }

    .icons {
        width: 33px;
    }

    #icon {
        padding-top: 9px;
    }

    .overview .h1 {
        font-size: 24px;
    }

    .overview .h3 {
        font-size: 19px;
    }

    .overview .h4 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    .mission-statement {
        margin-top: 25px;
    }

    .something-btn {
        padding: 7px 13px;
        color: #FFF;
        font-size: 14px;
    }

    .second {
        text-align: center;
        padding-bottom: 50px;
    }

    .second-banner {
        height: 35vh;
        background-position: center;
    }

    .third-height {
        height: auto;
        padding-bottom: 25px;
        margin-left: 0px;
    }

    .third-height .cont1 {
        margin-top: 20px;
    }

    .third-height .cont2 {
        margin-top: 20px !important;
    }

    .icons {
        padding-top: 8px;
    }

    .fourth {
        max-height: 600px;
        text-align: center;
    }

    .fourth .row {
        padding-top: 10px;
    }

    .solution-image {
        max-width: 70%;
        max-height: 260px;
        margin-top: -305px;
        margin-left: 5%;
        z-index: 2;
    }

    .solution-image-shadow {
        max-width: 70%;
        max-height: 260px;
        margin-top: 350px;
        margin-left: 20.5%;
        z-index: 1;
    }

    .companies {
        margin-top: 130px;
    }

    .companies>.container {
        width: 80%;
    }

    .logo-container {
        width: 50%;
        float: left;
    }

    .comp-logo {
        width: 100%;
        height: 100%;
    }

    .order-1 {
        margin-top: -35px !important;
    }

    .overview .h5 {
        font-size: 13px;
    }

    .box-p {
        font-size: 13px;
    }

    .company-cont {
        margin-left: 0px;
    }

    .box-content {
        margin-top: 30px;
    }
}

@media screen and (max-width: 360px) {
    .box-content {
        margin-left: auto;
        margin-top: 20px;
    }

    .solution-image {
        max-width: 70%;
        max-height: 210px;
        margin-top: -255px;
    }

    .solution-image-shadow {
        max-width: 70%;
        max-height: 210px;
        margin-top: 400px;
    }
}

/* subscription */

.containerwidth {
    max-width: 20rem;
    padding-left: 2rem;
}

.formcontent {
    font-size: 13px;
}

.subscriptionnewslater {
    text-align: center;
    font-size: 1.1rem
}

.subscriptiontext {
    text-align: center;
    font-size: 13px;
    width: 95%;
    color: #8c8d91;
}

.subsdynamicimage {
    height: 4rem;
    margin-bottom: -70px;
}

.subsstaticimage {
    height: 4rem;
}

@media only screen and (min-width: 768px) and (max-width: 1224px) {
    .containerwidth {
        max-width: 55rem;
        padding-left: 1%
    }

    .topicp {
        font-size: 16px;
        text-align: left;
    }

    .subscriptionnewslater {
        font-size: 1.2rem
    }

    .subscriptiontext {
        font-size: 16px;
        width: 60%
    }

    .formdiv {
        justify-content: center;
        height: 2.5rem;
        width: 100%;
    }
}

@media screen and (min-width: 1224px) {
    .subscriptionsection {
        margin-top: 15rem;
    }

    .subsstaticimage {
        height: 8rem;
    }

    .subsdynamicimage {
        height: 8rem;
        margin-bottom: -170px;
    }

    .formcontent {
        font-size: 25px;
    }

    .formdiv {
        justify-content: center;
        height: 4rem;
        width: 70%;
    }

    .subscriptionnewslater {
        font-size: 2.2rem
    }

    .subscriptiontext {
        font-size: 22px;
        width: 60%
    }

    .containerwidth {
        max-width: 76rem;
        padding-left: 2rem;
    }
}

.subscriptionsection {
    margin-top: 3rem;
}

.formdiv button {
    border: none;
    background-color: rgba(255, 177, 31, 1);
    width: 25%;
    margin: 3px;
    color: white
}

/* unique to bpm only */

.testaments .container {
    max-width: 1400px;
}

.subscriptionsection .yellow {
    filter: hue-rotate(-0.20turn) brightness(1.52);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blur {
    filter: blur(10px);
}

.noBlur {
    transition: all 1s;
    filter: blur(0px);
}

.demo {
    background-image: url('images/Extracted_HeroImage3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.img {
    transition: all 1s
}