* {
  font-family: 'Montserrat', 'sans-serif';
}
body {
  overflow-x: hidden;
}
nav {
  z-index: 100;
}
nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
nav .product-nav-card,
nav .service-nav-card {
  fill: grey;
}
nav .product-description {
  max-width: 75%;
  color: grey;
}
nav .product-nav-card:hover,
nav .service-nav-card:hover {
  fill: #152638;
}
nav .product-description:hover {
  color: #152638;
}
nav #logo {
  height: 70px;
}
nav .display {
  opacity: 0;
  float: right;
}
nav .navbar {
  background-color: white !important;
}
nav .nav-icon {
  width: 30px;
  margin: -5px;
  margin-right: 15px;
  margin-top: -3px;
  color: grey;
  height: 32px;
}
nav p {
  margin-left: 2.7em;
}
nav a:hover {
  color: black;
}
nav a {
  color: black;
  outline: none;
}
nav .dropdown-toggle::after {
  display: none;
  margin-right: 8%;
}
nav .hr {
  border-right: 2px solid #d5d5d5;
  padding-right: 3em;
}
nav .servicesBorder {
  border-right: 2px solid #d5d5d5;
}
nav .iconspacingi {
  margin-bottom: 1%;
}
nav .navheader {
  margin-right: 30px;
  font-size: 20px;
  width: 20px;
  text-decoration: none !important;
  font-weight: normal;
}
nav .navheader:hover {
  border-bottom: 7px solid orange;
  padding-bottom: 1.1em;
}
nav .push {
  margin-left: 3%;
}
nav .navbar {
  margin-bottom: none;
}
nav .navbar-brand {
  margin-right: none;
}
nav a:hover {
  text-decoration: none !important;
  border-bottom: 2px solid orange;
}
nav .navbar-toggle {
  background-color: transparent;
  background-image: none;
}
nav .navbar-toggle .icon-bar {
  background-color: black;
}
nav #ppl {
  margin-left: 1em;
  border: 0;
}
nav li {
  list-style-type: none;
}
nav .tpull {
  padding: 0px;
  margin: 0;
  float: left;
}
nav .small-image-pading {
  padding-bottom: 3%;
}
nav .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid white;
  border-radius: 0.25rem;
}
nav .card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: white;
  border-bottom: 1px solid white;
  padding-bottom: 0;
  padding-top: 0;
}
nav .acc-img-display {
  display: inline;
  width: 30px;
}
nav .card-body {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 22px;
}
nav .minp {
  margin-left: 39px;
}
nav #collapseThree {
  margin-left: 21px;
}
nav .btn {
  padding: 0;
}
nav #collapseFour {
  margin-left: 20px;
}
nav .btn-link {
  padding: 0;
}
nav .btn.btn-link {
  text-decoration: none;
  color: black;
}
nav .mega-dropdown {
  position: static !important;
  z-index: 5 important !;
  border: 0;
}
nav .mega-dropdown-menu {
  width: 100%;
  padding: 0px;
  border: 0;
  border-top: 1px solid #ededf0;
  box-shadow: 0 16px 16px -16px rgba(0, 0, 0, 0.3);
}
nav .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
nav .mega-dropdown-menu > li > ul > li {
  list-style-type: none;
  border: 0;
}
nav .mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: black;
  padding: 3px 5px;
  border: 0;
}
nav .mega-dropdown-menu > li ul > li > a:hover,
nav .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  border: 0;
}
nav .mega-dropdown-menu .dropdown-header {
  color: black;
  border: 0;
}
nav .faded {
  color: grey !important;
}
nav .logo-align {
  padding-left: 3.5%;
}
nav .product-title {
  font-weight: 500;
}
nav .smaller-text {
  font-size: 0.9em;
}
nav .media {
  fill: grey;
}
nav .media:hover {
  fill: #152638;
}
nav .medium-text {
  font-weight: 500;
}
main {
  /*----------Navbar -----------*/
  /* margins paddings and font size*/
  /* Landing page - Slider */
  /* bottom slider */
  /* carousel */
  /* Changing Industries */
  /* read-story */
  /* Experties */
  /* Success */
  /* Blog */
}
main a {
  text-decoration: none;
  color: #333;
}
main a:hover {
  text-decoration: none;
  color: #111;
}
main .container-fluid {
  max-width: 1920px;
}
main .my-navbar {
  margin: 0 -20px 0 -50px;
}
main .navbar-item {
  float: right !important;
}
main .nav-link {
  color: #111;
}
main .nav-link:hover {
  color: #555;
}
main .nav-search {
  margin-left: 100px;
}
main .margin-top {
  margin-top: 50px;
}
main .margin-bottom {
  margin-bottom: 50px;
}
main .font-heading {
  font-size: 3.5em;
  font-weight: bold;
}
main .font-paragraph {
  font-size: 1.5em;
  line-height: 2em;
}
main .font-small {
  font-size: 1.4em;
}
main .font-large {
  font-size: 5em;
}
main .font-medium {
  font-size: 2.8em;
}
main .ml-12 {
  margin-left: 12%;
}
main .padding-top {
  padding-top: 3%;
}
main .slider {
  background-color: #09B0DA;
  width: 100%;
  z-index: 10;
}
main .slider-text {
  color: #fff;
  margin-top: 10vw;
}
main .slider-text > p {
  font-size: 7vh;
  font-weight: bold;
  z-index: 1;
  position: absolute;
}
main .slider-image {
  width: 96%;
  height: 100%;
  position: relative;
}
main .blue-circle {
  position: absolute;
  left: -20%;
  bottom: 0%;
  width: 50%;
  z-index: 0;
}
main .whitecircle-image {
  position: absolute;
  left: -5%;
  bottom: 12%;
  width: 12%;
  z-index: 20;
}
main .yellowrectangle-image {
  position: absolute;
  right: 17%;
  bottom: 9%;
  width: 6%;
  z-index: 10;
}
main .yellowcircle-image {
  position: absolute;
  right: -5%;
  top: 10%;
  width: 40%;
}
main .image-next {
  position: relative;
  z-index: 25;
  margin-left: -2%;
}
main .text-block {
  position: absolute;
  bottom: 11%;
  left: 0px;
  background-color: #fff;
  padding: 30px 50px 20px 100px;
}
main .img-block {
  position: absolute;
  bottom: 11%;
  left: 45px;
}
main .bottom-arrow {
  background: #f9c243;
  margin-left: 470%;
  width: 100px;
  height: 100px;
  padding: 21px;
}
main #carousel-box {
  background-color: #eee;
  padding-bottom: 450px;
  position: relative;
  z-index: 100;
}
main .carousel-indicators {
  margin-left: 250px;
  margin-bottom: -100px;
}
main .carousel-indicators > li {
  background-color: #f9c243;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: 35px;
}
main span.carousel-control-prev-icon,
main span.carousel-control-next-icon {
  display: none;
}
main .we-work-mobile {
  display: none;
}
main .carousel-inner {
  padding-top: 250px;
}
main .carousel-item {
  z-index: 2;
}
main .img-carousel {
  background-image: url("/images/Extracted_FeatureImage.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: absolute;
  margin-top: 10%;
  min-width: 1920px;
  min-height: 971px;
  z-index: 1;
  right: 150vh;
}
main .subimg-carousel {
  margin-top: 60px;
  margin-left: 25%;
  width: 425px;
  height: 425px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5%;
  box-shadow: 5px -2px 20px 2px rgba(0, 0, 0, 0.4);
}
main .my-btn {
  font-size: 1.7em;
  font-weight: bold;
  padding: 15px 25px 15px 25px;
  border-radius: 0px;
  margin-right: 20px;
}
main .my-btn.btn-white {
  color: #fff !important;
}
main .changing-industries {
  margin-top: 200px;
  margin-bottom: 210px;
  position: relative;
  z-index: 100;
}
main .read-story {
  background-image: url("/images/Extracted_Temporary.jpg");
  background-repeat: repeat;
  background-size: auto 600px;
  width: auto;
  height: 600px;
  text-align: center;
  margin: auto;
}
main .read-story-text {
  color: #fff;
  font-size: 4em;
  margin-bottom: 50px;
}
main .accordion {
  display: none;
}
main .img-abstract {
  background-image: url("/images/Extracted_Abstract.jpg");
  background-size: cover;
  background-position: right;
  right: 100px;
  min-height: 100%;
}
main .experties-content {
  margin-top: 15%;
  padding-left: 5%;
}
main .img-custom {
  width: 75px;
  height: 75px;
  transition: opacity 0.1s linear;
}
main .img-custom-a {
  width: 75px;
  height: 75px;
}
main .insights-img:hover {
  background-image: url("/images/Extracted_Insight_Active.svg");
}
main .innovate-img:hover {
  background-image: url("/images/Extracted_Innovate_Active.svg");
}
main .accelerate-img:hover {
  background-image: url("/images/Extracted_Accelerate_Active.svg");
}
main .assure-img:hover {
  background-image: url("/images/Extracted_Assure_Active.svg");
}
main .application-img:hover {
  background-image: url("/images/Extracted_Application_Active.svg");
}
main .bpm-img:hover {
  background-image: url("/images/Extracted_BPM_Active.svg");
}
main .consult-img:hover {
  background-image: url("/images/Extracted_Consulting_Active.svg");
}
main .success {
  text-align: center;
  background-color: #ccc;
  padding: 100px 0% 100px 0%;
}
main .my-border {
  border-top: 2px solid #999 !important;
  margin: 0 200px 0 200px;
}
main .blog-container {
  padding: 0 3% 0 6%;
  padding-bottom: 10%;
}
main .my-border-bottom {
  border-bottom: 1px solid #999;
  margin: 0 16% 0 16%;
}
main .blog-image {
  width: 420px;
  height: 260px;
  background-size: cover;
}
main .blog-image1 {
  background-image: url("/images/Extracted_ArticleImage1.jpg");
}
main .blog-image2 {
  background-image: url("/images/Extracted_ArticleImage2.jpg");
}
main .blog-image3 {
  background-image: url("/images/Extracted_ArticleImage3.jpg");
}
main .blog-card {
  background-color: #fff;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
  margin: -70px 0 0 60px;
  width: 420px;
  height: 290px;
}
main .blog:hover .blog-card {
  box-shadow: 5px -2px 20px 2px rgba(0, 0, 0, 0.4);
}
main .blog-category {
  position: absolute;
  background-color: #f9c243;
  width: 135px;
  height: 55px;
  text-align: center;
  font-size: 1.5em;
  margin: -25px 0 0 -25px;
  color: #fff;
  padding-top: 8px;
  padding-left: -10px;
}
main .article-heading {
  padding: 45px 35px 35px 35px;
}
main .font-article-heading {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: bold;
}
main .read-more > a {
  padding-left: 35px;
  margin-top: -10px;
  font-size: 1.3em;
  color: #999;
  font-weight: bold;
}
main p .testaments {
  font-size: 13px;
  color: #373c42;
}
main .testaments .cards {
  /* text-align: center; */
  margin-top: 2rem;
  text-align: center;
}
main .testaments .card {
  display: inline-block;
  border: none;
  margin-bottom: 1.5rem !important;
  width: 334px;
  background: 0%;
  text-align: left;
}
main .testaments .card img {
  width: 250px;
  margin-bottom: -42px;
}
main .testaments .card .card-body::before {
  position: absolute;
  margin-top: -45px;
  margin-left: -45px;
  padding: 8px 25px;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: #ffb11f;
  content: "Case Study";
}
main .testaments .card .card-body {
  position: relative;
  margin-left: 12%;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  letter-spacing: -0.3px;
  width: 250px;
  height: auto;
  background-color: #ffffff;
}
main .testaments .card .card-body p {
  padding-top: 10px;
  padding: 8px;
  font-weight: 600;
}
main .testaments .card .card-body:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
main .testaments .card .card-body button {
  padding: 0px 6px;
  color: rgba(73, 73, 73, 0.8);
}
main .testaments .card .card-body button:hover {
  color: rgba(22, 21, 21, 0.9);
}
footer .container {
  max-width: 1885px;
}
footer ul {
  list-style: none;
  line-height: 2.4rem;
  padding-left: 25px;
}
footer h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
}
footer h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #acaead;
}
footer li a {
  color: black !important;
}
/* Large smaller devices  */
@media (min-width: 800px) and (max-width: 1200px) {
  main .testaments .card {
    width: 44%;
  }
}
@media only screen and (max-width: 768px) {
  main {
    /* Slider */
    /* Changing-industries */
    /* Read Story */
    /* Experties  */
    /* Accordian Mobile */
  }
  main img.nav-link {
    width: 25px;
  }
  main a.nav-link {
    margin-left: 35px;
  }
  main .mobile-none {
    display: none;
  }
  main .font-large {
    font-size: 2.5em;
  }
  main .font-medium,
  main .font-heading {
    font-size: 2em;
  }
  main .font-small,
  main .font-paragraph {
    font-size: 1em;
  }
  main .slider {
    width: 100%;
    position: relative;
  }
  main .slider-text > p {
    font-size: 2em !important;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90% 0% 10% 0%;
  }
  main .slider-image {
    z-index: 1;
  }
  main .mobile-margin {
    margin: -5%;
  }
  main .blue-circle {
    top: 470%;
    left: -10%;
    z-index: 15;
    width: 25%;
  }
  main .whitecircle-image,
  main .yellowrectangle-image {
    display: none;
  }
  main .yellowcircle-image {
    top: -15%;
    right: 8%;
  }
  main .image-next {
    position: relative;
    left: 5vw;
    width: 90%;
  }
  main .text-block {
    font-size: 1em;
    height: 150px;
    padding: 25px 75px 20px 50px;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .img-block {
    height: 150px;
    position: absolute;
    top: 50%;
    right: 78%;
    transform: translate(-50%, -50%);
  }
  main .bottom-arrow {
    height: 75px;
  }
  main .changing-industries {
    margin: 75px 0px 50px 0px;
  }
  main .read-story {
    background-size: 100% 300px !important;
    max-height: 300px;
  }
  main .read-story-text {
    font-size: 1em;
  }
  main .my-btn {
    padding: 5px 10px 5px 10px;
    font-size: 1em;
  }
  main .experties-content {
    padding-left: 25px;
    padding-right: 25px;
  }
  main .experties-body {
    display: none;
  }
  main .accordion {
    display: block;
    background: #fff;
    padding: 5%;
  }
  main .fa {
    font-size: 20px !important;
    float: right;
    padding: 25px 25px;
  }
  main .img-custom {
    width: 50px;
    height: 50px;
  }
  main .card {
    border: none;
    padding-left: 25px;
    padding-right: 25px;
  }
  main .card-header {
    background-color: #fff;
    border-top: 1px solid #999;
    border-left: none;
    padding: 0px;
    border-bottom: none;
  }
  main .card-body > a {
    font-size: 20px;
  }
  main .btn.btn-link {
    text-decoration: none;
    color: #333;
    padding-top: 10px;
    font-size: 20px;
  }
  main button.btn.btn-link {
    text-align: left;
  }
}
/* less than 568 */
@media only screen and (max-width: 568px) {
  main {
    /* slider */
  }
  main .text-block {
    font-size: 0.8em;
    height: 100px;
    width: 80%;
    padding: 15px 50px 20px 25px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  main .img-block {
    left: 70%;
    height: 100px;
  }
  main .bottom-arrow {
    height: 50px;
    padding: 10px;
  }
  main p.slider-heading {
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 375px) {
  main h2.mb-0 {
    font-size: 0.5em;
  }
  main .text-block {
    width: 80%;
    font-size: 0.9em !important;
  }
  main .font-small {
    font-size: 0.8em;
  }
  main p.slider-heading {
    font-size: 1em !important;
  }
}
/* MINOR CHANGES */
@media only screen and (min-width: 770px) and (max-width: 1400px) {
  main .changing-industries .font-heading {
    font-size: 2em;
  }
  main .changing-industries .font-paragraph {
    font-size: 1em;
  }
  main .read-story .read-story-text {
    font-size: 3em;
  }
  main .read-story .btn {
    font-size: 1.2em;
  }
  main .experties .experties-content .font-medium {
    font-size: 2.2em;
  }
  main .experties .experties-content .font-paragraph {
    font-size: 1em;
  }
  main .experties .experties-body .font-medium {
    font-size: 1.5em;
  }
  main .experties .experties-body .font-small {
    font-size: 0.9em;
  }
  main .experties .img-custom {
    width: 50px;
    height: 50px;
  }
  main .experties .img-custom-a {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 800px) {
  main .testaments .card {
    width: 300px;
  }
  main .testaments p {
    text-align: center;
  }
}
@media (min-width: 100px) and (max-width: 860px) {
  footer ul {
    line-height: 1rem;
  }
  footer h2 {
    font-size: 0.8rem;
  }
  footer h3 {
    font-size: 0.6rem;
  }
  footer li a {
    font-size: 0.6rem;
  }
  footer .img-fluid {
    width: 180px;
    margin-left: -20px;
    margin-bottom: 20px;
  }
  #services {
    margin-left: 20px;
  }
}
@media (min-width: 860px) and (max-width: 1080px) {
  footer ul {
    line-height: 1rem;
  }
  footer h2 {
    font-size: 0.8rem;
  }
  footer h3 {
    font-size: 0.6rem;
  }
  footer li a {
    font-size: 0.6rem;
  }
}
@media (min-width: 1080px) {
  footer ul {
    line-height: 1.2rem;
  }
  footer h2 {
    font-size: 0.9rem;
  }
  footer h3 {
    font-size: 0.7rem;
  }
  footer li a {
    font-size: 0.8rem;
  }
}
