@faded-color       : grey;
@border-faded-color: #d5d5d5;
@dark-color        : #152638;

* {
    font-family: 'Montserrat', 'sans-serif';
}

body {
    overflow-x: hidden;
}

nav {
    z-index: 100;

    li.dropdown:hover>ul.dropdown-menu {
        display: block;
    }

    .product-nav-card,
    .service-nav-card {
        fill: @faded-color;
    }

    .product-description {
        max-width: 75%;
        color    : @faded-color;
    }

    .product-nav-card:hover,
    .service-nav-card:hover {
        fill: @dark-color;
    }

    .product-description:hover {
        color: @dark-color;
    }


    #logo {
        height: 70px;
    }

    .display {
        opacity: 0;
        float  : right;
    }

    .navbar {
        background-color: white !important
    }

    .nav-icon {
        width       : 30px;
        margin      : -5px;
        margin-right: 15px;
        margin-top  : -3px;
        color       : @faded-color;
        height      : 32px;
    }

    p {
        margin-left: 2.7em;
    }

    a:hover {
        color: black;
    }

    a {
        color  : black;
        outline: none
    }

    .dropdown-toggle::after {
        display     : none;
        margin-right: 8%;
    }

    .hr {
        border-right : 2px solid @border-faded-color;
        padding-right: 3em;
    }

    .servicesBorder {
        border-right: 2px solid @border-faded-color;
    }

    .iconspacingi {
        margin-bottom: 1%;
    }

    .navheader {
        margin-right   : 30px;
        font-size      : 20px;
        width          : 20px;
        text-decoration: none !important;
        font-weight    : normal
    }

    .navheader:hover {
        border-bottom : 7px solid orange;
        padding-bottom: 1.1em;
    }

    .push {
        margin-left: 3%
    }

    .navbar {
        margin-bottom: none;
    }

    .navbar-brand {
        margin-right: none;
    }


    a:hover {
        text-decoration: none !important;
        border-bottom  : 2px solid orange;
    }

    .navbar-toggle {
        background-color: transparent;
        background-image: none;
    }


    .navbar-toggle .icon-bar {
        background-color: black;
    }

    #ppl {
        margin-left: 1em;
        border     : 0;
    }

    li {
        list-style-type: none;
    }

    .tpull {
        padding: 0px;
        margin : 0;
        float  : left;
    }

    .small-image-pading {
        padding-bottom: 3%;
    }

    .card {
        position          : relative;
        display           : -ms-flexbox;
        display           : flex;
        -ms-flex-direction: column;
        flex-direction    : column;
        min-width         : 0;
        word-wrap         : break-word;
        background-color  : #fff;
        background-clip   : border-box;
        border            : 1px solid white;
        border-radius     : 0.25rem;
    }

    .card-header {
        padding         : 0.75rem 1.25rem;
        margin-bottom   : 0;
        background-color: white;
        border-bottom   : 1px solid white;
        padding-bottom  : 0;
        padding-top     : 0;
    }

    .acc-img-display {
        display: inline;
        width  : 30px;
    }

    .card-body {
        padding-top   : 0;
        padding-bottom: 0;
        margin-left   : 22px;
    }

    .minp {
        margin-left: 39px;
    }

    #collapseThree {
        margin-left: 21px;
    }

    .btn {
        padding: 0
    }

    #collapseFour {
        margin-left: 20px;
    }

    .btn-link {
        padding: 0;
    }

    .btn.btn-link {
        text-decoration: none;
        color          : black;
    }

    .mega-dropdown {
        position: static !important;
        z-index : 5 important !;
        border  : 0;
    }

    .mega-dropdown-menu {
        width     : 100%;
        padding   : 0px;
        border    : 0;
        border-top: 1px solid #ededf0;
        box-shadow: 0 16px 16px -16px rgba(0, 0, 0, .3);
    }

    .mega-dropdown-menu>li>ul {
        padding: 0;
        margin : 0;
    }

    .mega-dropdown-menu>li>ul>li {
        list-style-type: none;
        border         : 0;
    }

    .mega-dropdown-menu>li>ul>li>a {
        display: block;
        color  : black;
        padding: 3px 5px;
        border : 0;
    }

    .mega-dropdown-menu>li ul>li>a:hover,
    .mega-dropdown-menu>li ul>li>a:focus {
        text-decoration: none;
        border         : 0;
    }

    .mega-dropdown-menu .dropdown-header {
        color : black;
        border: 0;
    }

    .faded {
        color: @faded-color  !important;
    }

    .logo-align {
        padding-left: 3.5%;
    }

    .product-title {
        font-weight: 500;
    }

    .smaller-text {
        font-size: 0.9em;
    }

    .media {
        fill: @faded-color;
    }

    .media:hover {
        fill: @dark-color;
    }

    .medium-text {
        font-weight: 500;
    }

}

main {
    a {
        text-decoration: none;
        color          : #333;
    }

    a:hover {
        text-decoration: none;
        color          : #111;
    }

    .container-fluid {
        max-width: 1920px;
    }

    /*----------Navbar -----------*/

    .my-navbar {
        margin: 0 -20px 0 -50px;
    }

    .navbar-item {
        float: right !important;
    }

    .nav-link {
        color: #111;
    }

    .nav-link:hover {
        color: #555;
    }

    .nav-search {
        margin-left: 100px;
    }

    /* margins paddings and font size*/

    .margin-top {
        margin-top: 50px;
    }

    .margin-bottom {
        margin-bottom: 50px;
    }

    .font-heading {
        font-size  : 3.5em;
        font-weight: bold;
    }

    .font-paragraph {
        font-size  : 1.5em;
        line-height: 2em;
    }

    .font-small {
        font-size: 1.4em;
    }

    .font-large {
        font-size: 5em;
    }

    .font-medium {
        font-size: 2.8em;
    }

    .ml-12 {
        margin-left: 12%;
    }

    .padding-top {
        padding-top: 3%;
    }

    /* Landing page - Slider */

    .slider {
        background-color: #09B0DA;
        width           : 100%;
        z-index         : 10;
    }

    .slider-text {
        color     : #fff;
        margin-top: 10vw;
    }

    .slider-text>p {
        font-size  : 7vh;
        font-weight: bold;
        z-index    : 1;
        position   : absolute;
    }

    .slider-image {
        width   : 96%;
        height  : 100%;
        position: relative;
    }

    .blue-circle {
        position: absolute;
        left    : -20%;
        bottom  : 0%;
        width   : 50%;
        z-index : 0;
    }

    .whitecircle-image {
        position: absolute;
        left    : -5%;
        bottom  : 12%;
        width   : 12%;
        z-index : 20;
    }

    .yellowrectangle-image {
        position: absolute;
        right   : 17%;
        bottom  : 9%;
        width   : 6%;
        z-index : 10;
    }

    .yellowcircle-image {
        position: absolute;
        right   : -5%;
        top     : 10%;
        width   : 40%;
    }

    /* bottom slider */

    .image-next {
        position   : relative;
        z-index    : 25;
        margin-left: -2%;
    }

    .text-block {
        position        : absolute;
        bottom          : 11%;
        left            : 0px;
        background-color: #fff;
        padding         : 30px 50px 20px 100px;
    }

    .img-block {
        position: absolute;
        bottom  : 11%;
        left    : 45px;
    }

    .bottom-arrow {
        background : #f9c243;
        margin-left: 470%;
        width      : 100px;
        height     : 100px;
        padding    : 21px;
    }

    /* carousel */

    #carousel-box {
        background-color: #eee;
        padding-bottom  : 450px;
        position        : relative;
        z-index         : 100;
    }

    .carousel-indicators {
        margin-left  : 250px;
        margin-bottom: -100px;
    }

    .carousel-indicators>li {
        background-color: #f9c243;
        width           : 25px;
        height          : 25px;
        border-radius   : 100%;
        margin-left     : 35px;
    }

    span.carousel-control-prev-icon,
    span.carousel-control-next-icon {
        display: none;
    }

    .we-work-mobile {
        display: none;
    }

    .carousel-inner {
        padding-top: 250px;
    }

    .carousel-item {
        z-index: 2;
    }

    .img-carousel {
        background-image   : url("/images/Extracted_FeatureImage.png");
        background-repeat  : no-repeat;
        background-position: right;
        background-size    : contain;
        position           : absolute;
        margin-top         : 10%;
        min-width          : 1920px;
        min-height         : 971px;
        z-index            : 1;
        right              : 150vh;
    }

    .subimg-carousel {
        margin-top   : 60px;
        margin-left  : 25%;
        width        : 425px;
        height       : 425px;
        background   : #fff;
        border       : 1px solid #eee;
        border-radius: 5%;
        box-shadow   : 5px -2px 20px 2px rgba(0, 0, 0, 0.4);
    }

    .my-btn {
        font-size    : 1.7em;
        font-weight  : bold;
        padding      : 15px 25px 15px 25px;
        border-radius: 0px;
        margin-right : 20px;
    }

    .my-btn.btn-white {
        color: #fff !important;
    }

    /* Changing Industries */

    .changing-industries {
        margin-top   : 200px;
        margin-bottom: 210px;
        position     : relative;
        z-index      : 100;
    }

    /* read-story */

    .read-story {
        background-image : url("/images/Extracted_Temporary.jpg");
        background-repeat: repeat;
        background-size  : auto 600px;
        width            : auto;
        height           : 600px;
        text-align       : center;
        margin           : auto;
    }

    .read-story-text {
        color        : #fff;
        font-size    : 4em;
        margin-bottom: 50px;
    }

    /* Experties */

    .accordion {
        display: none;
    }

    .img-abstract {
        background-image   : url("/images/Extracted_Abstract.jpg");
        background-size    : cover;
        background-position: right;
        right              : 100px;
        min-height         : 100%;
    }

    .experties-content {
        margin-top  : 15%;
        padding-left: 5%;
    }

    .img-custom {
        width     : 75px;
        height    : 75px;
        transition: opacity .1s linear;
    }

    .img-custom-a {
        width : 75px;
        height: 75px;
    }

    .insights-img:hover {
        background-image: url("/images/Extracted_Insight_Active.svg");
    }

    .innovate-img:hover {
        background-image: url("/images/Extracted_Innovate_Active.svg");
    }

    .accelerate-img:hover {
        background-image: url("/images/Extracted_Accelerate_Active.svg");
    }

    .assure-img:hover {
        background-image: url("/images/Extracted_Assure_Active.svg");
    }

    .application-img:hover {
        background-image: url("/images/Extracted_Application_Active.svg");
    }

    .bpm-img:hover {
        background-image: url("/images/Extracted_BPM_Active.svg");
    }

    .consult-img:hover {
        background-image: url("/images/Extracted_Consulting_Active.svg");
    }

    /* Success */

    .success {
        text-align      : center;
        background-color: #ccc;
        padding         : 100px 0% 100px 0%;
    }

    .my-border {
        border-top: 2px solid #999 !important;
        margin    : 0 200px 0 200px;
    }

    /* Blog */

    .blog-container {
        padding       : 0 3% 0 6%;
        padding-bottom: 10%;
    }

    .my-border-bottom {
        border-bottom: 1px solid #999;
        margin       : 0 16% 0 16%;
    }

    .blog-image {
        width          : 420px;
        height         : 260px;
        background-size: cover;
    }

    .blog-image1 {
        background-image: url("/images/Extracted_ArticleImage1.jpg");
    }

    .blog-image2 {
        background-image: url("/images/Extracted_ArticleImage2.jpg");
    }

    .blog-image3 {
        background-image: url("/images/Extracted_ArticleImage3.jpg");
    }

    .blog-card {
        background-color: #fff;
        box-shadow      : 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
        margin          : -70px 0 0 60px;
        width           : 420px;
        height          : 290px;
    }

    .blog:hover .blog-card {
        box-shadow: 5px -2px 20px 2px rgba(0, 0, 0, 0.4);
    }

    .blog-category {
        position        : absolute;
        background-color: #f9c243;
        width           : 135px;
        height          : 55px;
        text-align      : center;
        font-size       : 1.5em;
        margin          : -25px 0 0 -25px;
        color           : #fff;
        padding-top     : 8px;
        padding-left    : -10px;
    }

    .article-heading {
        padding: 45px 35px 35px 35px;
    }

    .font-article-heading {
        font-size  : 1.5em;
        line-height: 1.7em;
        font-weight: bold;
    }

    .read-more>a {
        padding-left: 35px;
        margin-top  : -10px;
        font-size   : 1.3em;
        color       : #999;
        font-weight : bold;
    }

    p .testaments {
        font-size: 13px;
        color    : #373c42;
    }

    .testaments .cards {
        /* text-align: center; */
        margin-top   : 2rem;
        text-align   : center;
    }

    .testaments .card {
        display      : inline-block;
        border       : none;
        margin-bottom: 1.5rem !important;
        width        : 334px;
        background   : 0%;
        text-align   : left;
    }

    .testaments .card img {
        width        : 250px;
        margin-bottom: -42px;
    }

    .testaments .card .card-body::before {
        position        : absolute;
        margin-top      : -45px;
        margin-left     : -45px;
        padding         : 8px 25px;
        text-align      : center;
        font-size       : 18px;
        color           : white;
        font-weight     : 600;
        background-color: rgba(255, 177, 31, 1);
        content         : "Case Study"
    }

    .testaments .card .card-body {
        position        : relative;
        margin-left     : 12%;
        box-shadow      : 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
        letter-spacing  : -0.3px;
        width           : 250px;
        height          : auto;
        background-color: rgba(255, 255, 255, 1);
    }

    .testaments .card .card-body p {
        padding-top: 10px;
        padding    : 8px;
        font-weight: 600;
    }

    .testaments .card .card-body:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    }

    .testaments .card .card-body button {
        padding: 0px 6px;
        color  : rgba(73, 73, 73, 0.8)
    }

    .testaments .card .card-body button:hover {
        color: rgba(22, 21, 21, 0.9)
    }


}

footer {
    .container {
        max-width: 1885px;
    }

    ul {
        list-style  : none;
        line-height : 2.4rem;
        padding-left: 25px;
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size  : 1.9rem;
    }

    h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size  : 1.3rem;
        color      : #acaead;
    }

    li a {
        color: black !important;
    }
}


/* Large smaller devices  */

@media (min-width: 800px) and (max-width: 1200px) {
    main {
        .testaments .card {
            width: 44%;
        }
    }
}

@media only screen and (max-width: 768px) {
    main {
        img.nav-link {
            width: 25px;
        }

        a.nav-link {
            margin-left: 35px;
        }

        .mobile-none {
            display: none;
        }

        .font-large {
            font-size: 2.5em;
        }

        .font-medium,
        .font-heading {
            font-size: 2em;
        }

        .font-small,
        .font-paragraph {
            font-size: 1em;
        }

        /* Slider */
        .slider {
            width   : 100%;
            position: relative;
        }

        .slider-text>p {
            font-size : 2em !important;
            position  : absolute;
            text-align: center;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
            padding   : 90% 0% 10% 0%;
        }

        .slider-image {
            z-index: 1;
        }

        .mobile-margin {
            margin: -5%;
        }

        .blue-circle {
            top    : 470%;
            left   : -10%;
            z-index: 15;
            width  : 25%;
        }

        .whitecircle-image,
        .yellowrectangle-image {
            display: none;
        }

        .yellowcircle-image {
            top  : -15%;
            right: 8%;
        }

        .image-next {
            position: relative;
            left    : 5vw;
            width   : 90%;
        }

        .text-block {
            font-size: 1em;
            height   : 150px;
            padding  : 25px 75px 20px 50px;
            width    : 60%;
            position : absolute;
            top      : 50%;
            left     : 50%;
            transform: translate(-50%, -50%);
        }

        .img-block {
            height   : 150px;
            position : absolute;
            top      : 50%;
            right    : 78%;
            transform: translate(-50%, -50%);
        }

        .bottom-arrow {
            height: 75px;
        }

        /* Changing-industries */
        .changing-industries {
            margin: 75px 0px 50px 0px;
        }

        /* Read Story */
        .read-story {
            background-size: 100% 300px !important;
            max-height     : 300px;
        }

        .read-story-text {
            font-size: 1em;
        }

        .my-btn {
            padding  : 5px 10px 5px 10px;
            font-size: 1em;
        }

        /* Experties  */
        .experties-content {
            padding-left : 25px;
            padding-right: 25px;
        }

        .experties-body {
            display: none;
        }

        /* Accordian Mobile */
        .accordion {
            display   : block;
            background: #fff;
            padding   : 5%;
        }

        .fa {
            font-size: 20px !important;
            float    : right;
            padding  : 25px 25px;
        }

        .img-custom {
            width : 50px;
            height: 50px;
        }

        .card {
            border       : none;
            padding-left : 25px;
            padding-right: 25px;
        }

        .card-header {
            background-color: #fff;
            border-top      : 1px solid #999;
            border-left     : none;
            padding         : 0px;
            border-bottom   : none;
        }

        .card-body>a {
            font-size: 20px;
        }

        .btn.btn-link {
            text-decoration: none;
            color          : #333;
            padding-top    : 10px;
            font-size      : 20px;
        }

        button.btn.btn-link {
            text-align: left;
        }
    }
}

/* less than 568 */

@media only screen and (max-width: 568px) {

    main {

        /* slider */
        .text-block {
            font-size: 0.8em;
            height   : 100px;
            width    : 80%;
            padding  : 15px 50px 20px 25px;
            position : absolute;
            top      : 50%;
            left     : 40%;
            transform: translate(-50%, -50%);
        }

        .img-block {
            left  : 70%;
            height: 100px;
        }

        .bottom-arrow {
            height : 50px;
            padding: 10px;
        }

        p.slider-heading {
            font-size: 0.5em;
        }
    }

}

@media only screen and (max-width: 375px) {
    main {
        h2.mb-0 {
            font-size: 0.5em;
        }

        .text-block {
            width    : 80%;
            font-size: 0.9em !important;
        }

        .font-small {
            font-size: 0.8em;
        }

        p.slider-heading {
            font-size: 1em !important;
        }
    }
}

/* MINOR CHANGES */
@media only screen and (min-width: 770px) and (max-width: 1400px) {
    main {
        .changing-industries .font-heading {
            font-size: 2em;
        }

        .changing-industries .font-paragraph {
            font-size: 1em;
        }

        .read-story .read-story-text {
            font-size: 3em;
        }

        .read-story .btn {
            font-size: 1.2em;
        }

        .experties .experties-content .font-medium {
            font-size: 2.2em;
        }

        .experties .experties-content .font-paragraph {
            font-size: 1em;
        }

        .experties .experties-body .font-medium {
            font-size: 1.5em;
        }

        .experties .experties-body .font-small {
            font-size: 0.9em;
        }

        .experties .img-custom {
            width : 50px;
            height: 50px;
        }

        .experties .img-custom-a {
            width : 60px;
            height: 60px;
        }
    }
}

@media (max-width: 800px) {
    main {
        .testaments .card {
            width: 300px;
        }

        .testaments p {
            text-align: center;
        }
    }
}


@media (min-width: 100px) and (max-width: 860px) {
    footer {
        ul {
            line-height: 1rem;
        }

        h2 {
            font-size: 0.8rem;
        }

        h3 {
            font-size: 0.6rem;
        }

        li a {
            font-size: 0.6rem;
        }

        .img-fluid {
            width        : 180px;
            margin-left  : -20px;
            margin-bottom: 20px;
        }
    }

    #services {
        margin-left: 20px;
    }
}

@media (min-width: 860px) and (max-width: 1080px) {
    footer {
        ul {
            line-height: 1rem;
        }

        h2 {
            font-size: 0.8rem;
        }

        h3 {
            font-size: 0.6rem;
        }

        li a {
            font-size: 0.6rem;
        }
    }
}

@media (min-width: 1080px) {
    footer {

        ul {
            line-height: 1.2rem;
        }

        h2 {
            font-size: 0.9rem;
        }

        h3 {
            font-size: 0.7rem;
        }

        li a {
            font-size: 0.8rem;
        }
    }
}